/* Modify the background color */
$font-stack: Helvetica, sans-serif;
$primary-color: #962ee0;

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $primary-color;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.7));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(106, 17, 203, 0.7), rgba(106, 17, 203, 1));
}