/* Modify the background color */
$font-stack: Helvetica, sans-serif;
$primary-color: #962ee0;

body {
    font: 100% $font-stack;
    color: $primary-color;
    background-color: $primary-color;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(106, 17, 203, 0.9), rgba(37, 117, 252, 0.7));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(106, 17, 203, 0.7), rgba(106, 17, 203, 1));
}

.border-custom {
    border: 1px solid rgb(181, 44, 255);

}

/* Green */
.success {
    border-color: #04AA6D;
    color: green;
}

.success:hover {
    background-color: #04AA6D;
    color: white;
}

/* Blue */
.info {
    border-color: #2196F3;
    color: dodgerblue
}

.info:hover {
    background: #2196F3;
    color: white;
}

/* Orange */
.warning {
    border-color: #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}

/* Red */
.danger {
    border-color: #f44336;
    color: red
}

.danger:hover {
    background: #f44336;
    color: white;
}

/* Gray */
.default {
    border-color: #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}