table,
th,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:nth-child(odd) {
    background-color: #fff;
}

body {
    background-color: #f6ecfe;
    margin: 40px 20px 10px;
}

.navbar {
    background-color: rgb(156, 54, 211);
}