{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app_crypto/css/bootstrap.css' %}" />

    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'app_crypto/style.css'%}">
    <!-- Jquery for Ajax -->
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Jquery Datatables -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <!-- Jquery Date Renderer -->
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/sorting/datetime-moment.js"></script>
    <!-- Jquery Buttons -->
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css" />
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>










</head>

{% load sass_tags %}

<link href="{% sass_src 'app_crypto/demo.scss' %}" rel="stylesheet" type="text/css" />


<body class="p-3 mb-2 bg-dark">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light gradient-custom">

            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'app_crypto/images/candle.png' %}" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    CandleFarm
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/" style="color: #ffffffca">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/market_data/Btc">Market Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/plot/Btc">Plot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/plot/Btc">Update Database</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark border-custom" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <hr>

        <div class="container-fluid">
            {% block title %}

            {% endblock title %}

        </div>

        <hr>

        {% block head %}
        {% endblock head %}



        {% block content %}

        {% endblock content %}



        {% block footer %}
        <div class="container-fluid">
            <p id="footer">Copyright © 2023 candlefarm.com</p>
        </div>

        {% endblock footer %}
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->


    </div>


    <!-- Bootstrap JS -->

    <script src="{% static 'app_crypto/js/bootstrap.bundle.js' %}">  </script>




    {% block js_scripts %}

    {% endblock js_scripts %}


</body>

</html>