{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'app_crypto/css/bootstrap.css' %}" />
    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'app_crypto/style.css'%}">
    <!-- Jquery for Ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Custom JS -->
    <script src=" {% static 'app_crypto/script.js' %}" defer></script>
    <script src=" {% static 'app_crypto/script-spinner.js' %}" defer></script>




</head>

{% load sass_tags %}

<link href="{% sass_src 'app_crypto/demo.scss' %}" rel="stylesheet" type="text/css" />


<body class="p-3 mb-2 bg-dark ">

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-light gradient-custom">

            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="{% static 'app_crypto/images/candle.png' %}" alt="Logo" width="30" height="24"
                        class="d-inline-block align-text-top">
                    CandleFarm
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/" style="color: #ffffffca">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Market Data</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Plot</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-dark border-custom" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <hr>

        <div class="container-fluid">
            {% block title %}

            {% endblock title %}

        </div>

        <hr>

        {% block head %}
        {% endblock head %}



        {% block content %}

        {% endblock content %}



        {% block footer %}
        <div class="container-fluid">
            <p>Copyright © 2023 candlefarm.com</p>
        </div>

        {% endblock footer %}
        <!-- Optional JavaScript; choose one of the two! -->

        <!-- Option 1: Bootstrap Bundle with Popper -->


    </div>


    <!-- Bootstrap JS -->

    <script src="{% static 'app_crypto/js/bootstrap.bundle.js' %}">  </script>





</body>

</html>