{% extends "app_crypto/base.html" %}


{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app_crypto/style.css' %}">
{% endblock %}


{% block content %}
<h1>{{crypto|upper}} - Market Data </h1>


<table>
    <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adj Close</th>
        <th>Volume</th>
    </tr>

    {% for value in crypto_data|dictsortreversed:'date' %}
    <tr>
        <td align="center">{{value.date}}</td>
        <td align="center">{{value.open|floatformat:7}}</td>
        <td align="center ">{{value.high|floatformat:7}}</td>
        <td align="center">{{value.low|floatformat:7}}</td>
        <td align="center">{{value.close|floatformat:7}}</td>
        <td align="center">{{value.adj_close|floatformat:7}}</td>
        <td align="center">{{value.volume}}</td>
    </tr>
    {% endfor %}

</table>



{% endblock %}