{% extends "app_crypto/base.html" %}


{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app_crypto/style.css' %}">
{% endblock %}


{% block content %}
<h2>{{crypto|upper}} - Market Data </h2>

<hr>

<div>
    <form method="get" action=".">
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" min="2009-01-03" value="2018-07-22">

            <label for="endDate">End Date</label>
            <input type="date" class="form-control" id="endDate" name="endDate" min="2009-01-03" value="2018-07-22">


            <button type="submit" class="btn btn-primary">Search</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>

    </form>
</div>



<hr>

<table id="market_data_table ">
    <tr>
        <th>Date</th>
        <th>Open</th>
        <th>High</th>
        <th>Low</th>
        <th>Close</th>
        <th>Adj Close</th>
        <th>Volume</th>
    </tr>

    {% for value in crypto_data|dictsortreversed:'date' %}
    <tr>
        <td align="center">{{value.date|date:"d/m/Y"}}</td>
        <td align="center">{{value.open|floatformat:7}}</td>
        <td align="center ">{{value.high|floatformat:7}}</td>
        <td align="center">{{value.low|floatformat:7}}</td>
        <td align="center">{{value.close|floatformat:7}}</td>
        <td align="center">{{value.adj_close|floatformat:7}}</td>
        <td align="center">{{value.volume}}</td>
    </tr>
    {% endfor %}

</table>



{% endblock %}