{% extends "app_crypto/base.html" %}


{% block title %}

<h3>Cryptocurrencies Data </h3>

{% endblock title %}


{% block head %}

{% endblock head %}



{% block content %}


<div class="container-fluid">

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Currency</th>
                <th scope="col">Market Data</th>
                <th scope="col">Plot</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <div class="container" style="text-align: center;">
                    <td align="left">
                        <select>
                            <option disabled hidden selected> -- Select Crypto --</option>
                            {% for i in currencies %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        <div style="text-align:left">
                            <a href="" id="market_data">
                                Select Crypto
                            </a>
                        </div>
                    </td>
                    <td>
                        <div style="text-align:left">
                            <a href="" id="plot">
                                Plot
                            </a>
                        </div>
                    </td>

                </div>
                <div class="container-fluid">
                    {% if messages %}

                    {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{message}}
                    </div>

                    {% endfor %}
                    {% endif %}

                </div>





            </tr>


        </tbody>


    </table>

</div>

{% endblock content %}