{% extends "app_crypto/base.html" %}


{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'app_crypto/style.css' %}">
{% endblock %}


{% block content %}
<h2>Cryptocurrencies Data </h2>


<table>
    <tr>
        <th>Currency</th>
        <th>Market Data</th>
        <th>Plot</th>

    </tr>

    <tr>
        <div class="container" style="text-align: center;">
            <td align="center">

                <select>
                    <option disabled hidden selected> -- Select Crypto --</option>
                    {% for i in currencies %}

                    <option value="{{i}}">{{i}}</option>

                    {% endfor %}

                </select>


            </td>

            <td>

                <div style="text-align:center">

                    <a href="" id="market_data">
                        Select Crypto
                    </a>

                </div>




            </td>

            <td>
                <h4 align="center" id="plot">Plot</h4>

            </td>

        </div>

        <script src="static/app_crypto/script.js"></script>



    </tr>




</table>



{% endblock %}