{% extends "app_crypto/base.html" %}
{% load static %}

{% block title %}
<div class="container-fluid">
    <h3>{{crypto|upper}} - Plot </h3>
</div>

{% endblock title %}

{% block head %}

{% endblock %}


{% block content %}


<div class="container-fluid">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

</div>

<div class="container-fluid">

    <form class="row row-cols-lg-auto g-3 align-items-center" method="POST" action="">
        {% csrf_token %}

        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text" id="inputGroup-sizing-sm">Start Date (Minimum:
                    {{min_date_table|date:'Y-m-d'}})</span>
                <input type="date" class="form-control" id="startDate" name="startDate" min="2009-01-03"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <div class="col-12">
            <div class="input-group">
                <span class="input-group-text " id="inputGroup-sizing-sm">End Date</span>
                <input type="date" class="form-control" id="endDate" name="endDate" min="2009-01-03"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <div class="col-12">

            <select class="form-select" id="inlineFormSelectPref" onChange="redirect_crypto_page();">
                <option disabled hidden selected> -- Select Crypto --</option>
                {% for i in currencies %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="btn btn-outline-primary">Preference</label>
            <button type="submit" class="btn btn-dark border-custom" id="search">Search</button>
        </div>

        <div class="col-12">
            <label class="visually-hidden" for="btn btn-outline-primary">Preference</label>
            <button type="reset" class="btn btn-dark border-custom" id="reset">Reset</button>
        </div>
    </form>

</div>

<hr>


<!-- Spinner -->
<div class="spinner">
    <div id="spinner-box" class="text-center mt-3">
        <div class="spinner-border" role="status">

        </div>
    </div>
</div>

<!-- include the call to action html in this new html file -->
{{plot_crypto|safe}}

{% endblock content %}

{% block js_scripts %}
<script src="{% static 'app_crypto/script_plot.js' %}"></script>
<script src="{% static 'app_crypto/script-spinner-plot.js' %}"></script>
{% endblock js_scripts %}