.not-visible {
    display: none;
}

body {
    background-color: #939393;
}

.spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

div.dt-button-collection {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);


}

div.dt-button-info {
    color: rgb(255, 255, 255);
    background-color: rgb(34, 34, 34);

}

div.modal-body {
    color: rgb(0, 0, 0);


}

h4.modal-title {
    color: rgb(0, 0, 0);


}